.color-green {
    background-color: rgb(12 139 29);
}
.color-silver {
    background-color: #f0f0f0;
}
.color-backdrop {
    background-color: rgba(0, 0, 0,0.7);
}
.color-yellow {
    background-color: rgb(170, 205, 14);
}

.color-red {
    background-color: rgb(209, 15, 15);
}

#nav-bar .nav-btn {
    width: 33%;
    border: solid rgb(241 245 249) 0.5px;
    border-radius: 15px;
    aspect-ratio: 1/1;
    padding: 3px;
}

#nav-bar a {
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center; 
}

#nav-bar .nav-active,
#nav-bar .nav-btn:hover {
    background-color: rgb(12 139 29);
    color: white;
}

#nav-calender .calender-active {
    background-color:rgb(226 232 240);
    font-weight: bold;
}

th,td {
    max-width:400px;
    min-width:200px;
    height:50px;
    text-align: left;
    border-bottom: 0.5px solid #f0f0f0;
    text-wrap:nowrap;
    text-overflow: clip;
    vertical-align:middle;
    padding-right:0.5rem;
    padding-left:2rem;
}

th:first-child,
td:first-child {
    min-width: 1px;
}

tr:last-child {
    height:30px;
}

th:last-child,
td:last-child {
    text-align:center;
}

input[type="range"],
input[type="checkbox"] {
    accent-color: rgb(12 139 29);
  }

#ai-questions,
#ai-outline {
    transition: opacity 1s ease; /* 투명도 변경 효과 설정 */
  }

.star {
    cursor: pointer;
    color: gray;
}
.rated {
    color: rgb(12 139 29);
}