<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>착착</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon-32x32.png" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/tailwind.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>
    <link href="/static/css/responsive.css" rel="stylesheet" />
</head>
<body class="font-sans">
    {% block navbar %} {% endblock %}
    {% block header %} {% endblock %}
    {% block content %} {% endblock %}
    {% block modal %} {% endblock %}


    <footer id="footer-copyright" class="h-20 w-full bg-gray-100">
        <div class="container">
            <div class="text-center py-8">
                <p>
                    &copy; copyright 착착.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>