{% extends "base.html" %}
{% block content %}
<div>
    <div class="text-2xl ml-10 mt-5">
        <a href='/' >착착</a>
    </div>
    <div class="flex items-center justify-evenly mx-5">
        <div class="border border-hidden rounded-2xl color-silver flex justify-center items-center max-w-[700px] h-[80vh] m-10">
            <div>
                <div class="font-bold text-3xl p-2 text-center">발표관리는 이제 한곳에서 착착!</div>
                <div class="text-2xl p-2 text-center">자료관리, 예상질문, 회고기록 모두 착착에서</div>
                <img src="/static/img/login.jpeg" alt="" class="m-auto py-5 w-1/2 aspect-square"/>
                <!-- <div class="text-gray-100 text-md">Empower your presentation with AI technology.</div> -->
            </div>
        </div>
        <div class="px-8 pt-10 pb-8 flex justify-center items-center max-w-[500px]">
            <div class="w-full">
                <div class="p-3 mx-3 text-2xl">발표준비, <span class='font-bold'>착착</span>에서 함께해요</div>
                <!-- <div class="p-3 mx-3 text-slate-300">Unlock premium features for enhanced presentations.</div> -->
                <div>
                    <input id="login-email" type="text" placeholder="이메일 입력" class="p-3 m-3 border border-slate-200 rounded-3xl w-full"/>
                    <input id="login-password" type="password" placeholder="비밀번호 입력" class="p-3 m-3 border border-slate-200 rounded-3xl w-full"/>
                    <button id="login" class="m-3 p-3 border border-hidden color-green text-white rounded-3xl w-full text-center hover:bg-green-800">로그인</button>
                    <button id="signup" class="m-3 p-3 border border-hidden color-green text-white rounded-3xl w-full text-center hover:bg-green-800 cursor-not-allowed">회원가입</button>
                    <p class="p-3 text-gray-400 text-center text-md">or</p>
                    <button id="google" class="m-3 p-3 border border-hidden color-silver rounded-3xl w-full text-center hover:bg-gray-300">
                        <img src="/static/img/google.png" width="24px" class="inline mx-2 "/>
                        <span>Google로 계속하기</span>
                    </button>
                    <button id="nologin" class="m-3 p-3 border border-hidden bg-gray-300 rounded-3xl w-full text-center hover:bg-gray-400">
                        <span class="font-semibold">데모버전으로 계속하기</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/login.js"></script>
{% endblock %}